.rt-Em {
  box-sizing: border-box;
  font-family: var(--em-font-family);
  font-size: calc(var(--em-font-size-adjust) * 1em);
  font-style: var(--em-font-style);
  font-weight: var(--em-font-weight);
  line-height: 1.25;
  letter-spacing: calc(
    var(--em-letter-spacing) +
      var(--letter-spacing, var(--default-letter-spacing))
  );
  color: inherit;

  & :where(&) {
    font-size: inherit;
  }
}

.rt-Quote {
  box-sizing: border-box;
  font-family: var(--quote-font-family);
  font-size: calc(var(--quote-font-size-adjust) * 1em);
  font-style: var(--quote-font-style);
  font-weight: var(--quote-font-weight);
  line-height: 1.25;
  letter-spacing: calc(
    var(--quote-letter-spacing) +
      var(--letter-spacing, var(--default-letter-spacing))
  );
  color: inherit;

  & :where(&) {
    font-size: inherit;
  }
}

.rt-Strong {
  font-family: var(--strong-font-family);
  font-size: calc(var(--strong-font-size-adjust) * 1em);
  font-style: var(--strong-font-style);
  font-weight: var(--strong-font-weight);
  letter-spacing: calc(
    var(--strong-letter-spacing) +
      var(--letter-spacing, var(--default-letter-spacing))
  );

  & :where(&) {
    font-size: inherit;
  }
}
